.topmenu {height:30px; border-bottom:1px solid #eee; background:#fff;}
.topmenu ul {list-style:none; font-size:0px;}
.topmenu ul li {height:30px; display:inline-block; border-right:1px solid #eee;}
.topmenu ul li a {display:block; height:30px; line-height:30px; font-size:12px; color:#666; padding:0px 14px; text-decoration:none;}
.topmenu ul li:first-child {border-left:1px solid #eee; padding-left:0px;}
.header {height:80px;}
.header h1 {display:inline-block; width:200px; height:80px; line-height:80px; background-repeat:no-repeat; background-position:0 50%; background-size:contain; font-size:0px; vertical-align:top;}
.header h1.text {font-size:28px;}
.header h1 a {display:block; height:80px; color:#222; text-decoration:none;}

.header .topRight {float:right; margin-top:10px;}

.naviWrapper {height:46px;}
.navigation {height:42px; background:rgba(0,0,0,0.8); border-bottom:4px solid #000;}
.navigation .container {height:46px; position:relative;}
.navigation .container ul {list-style:none;}
.navigation .container a {text-decoration:none;}
.navigation .container > ul {list-style:none; margin:0px; padding:0px; display:inline-block; position:absolute; top:0px; left:5px; font-size:0px;}
.navigation .container > ul > li {height:46px; display:inline-block; border-left:1px solid #000; position:relative;}
.navigation .container > ul > li:last-child {border-right:1px solid #000;}
.navigation .container > ul > li > a {height:42px; border-bottom:4px solid transparent; display:block; line-height:46px; padding:0px 20px; font-size:12px; font-weight:bold; color:#fff;}
.navigation .container > ul > li:hover > a, .navigation .container > ul > li > a:hover, .navigation .container > ul > li > a.selected {border-color:#e4232c; background:#000;}
.navigation .container > ul > li > ul.dropdown {position:absolute; top:46px; left:0px; background:#fff; box-shadow:0 6px 12px rgba(0,0,0,0.175); border:1px solid 0 6px 12px rgba(0,0,0,0.15); display:none; z-index:2000; max-height:400px; min-width:200px; overflow-y:auto;}
.navigation .container > ul > li:hover > ul.dropdown {display:block;}
.navigation .container > ul > li > ul.dropdown > li {border-bottom:1px solid #eee; height:40px;}
.navigation .container > ul > li > ul.dropdown > li > a {padding:0px 12px; height:40px; line-height:40px; white-space:nowrap; display:block; color:#333; border:0px; font-size:12px;}
.navigation .container > ul > li > ul.dropdown > li > a:hover {background:#e4232c; color:#fff;}
.navigation .container > ul > li > ul.dropdown > li > a > span.badge {font-size:11px; font-family:OpenSans, NanumBarunGothic; float:right; display:inline-block; height:20px; line-height:20px; padding:0px 6px; background:#e5e5e5; color:#666; border-radius:3px; margin-top:10px;}
.navigation .container > ul > li > ul.dropdown > li > a > span.link {font-size:14px; float:right; display:inline-block; height:24px; line-height:24px; padding:0px; margin-top:10px;}
.navigation .container > ul > li > ul.dropdown > li > a > span.badge.new {background:#e91b23; color:#fff;}
.navigation .container > ul > li > ul.dropdown > li > a:hover > span.badge.new {background:#fff; color:#e91b23;}
.navigation .container > ul > li > ul.dropdown > li:last-child {border-bottom:0px;}

.navigation .container .emblem {display:block; width:32px; height:32px; float:left; font-size:0px; margin-top:5px; vertical-align:top; background-size:cover; background-position:50% 50%; border-radius:2px;}

.navigation .menu {float:right; height:30px; margin:8px 0px 0px 5px; padding:0px 10px; border:1px solid #000; background:#373737; cursor:pointer; color:#fff; font-size:12px; font-family:OpenSans, NanumBarunGothic; position:relative; overflow:inherit; box-sizing:border-box; line-height:30px;}
.navigation .menu:focus, .navigation .menu:active, .navigation .menu:hover, .navigation .menu.opened {background:#e4232c;}
.navigation .menu .badge {position:absolute; top:-6px; right:-6px; background:#e4232c; min-width:6px; height:16px; border-radius:8px; font-size:11px; line-height:16px; z-index:100; padding:0px 5px; text-align:center; letter-spacing:-1px;}
.navigation .menu:focus .badge, .navigation .menu:active .badge, .navigation .menu:hover .badge, .navigation .menu.opened .badge {background:#fff; color:#e4232c;}

.navigation .menu.push .list {position:absolute; min-width:280px; z-index:100; background:#fff; top:28px; right:0px; border:1px solid #c1c1c1; box-shadow:0 6px 12px rgba(0,0,0,0.175); user-select:none; -webkit-user-select:none; -ms-user-select:none; -moz-user-select:none; display:none;}
.navigation .menu.push.opened .list {display:block;}

.navigation .menu.push .list a {display:none; text-align:center; border-top:1px solid #ddd; background:#f4f4f4; text-decoration:none; height:30px; line-height:30px; color:#666;}
.navigation .menu.push .list .arrowBox {cursor:default; height:30px; color:#333; padding:0px 8px; line-height:30px; font-size:12px;}
.navigation .menu.push .list .arrowBox:after, .navigation .menu.push .list .arrowBox:before {bottom:100%; right:15px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.navigation .menu.push .list .arrowBox:after {border-color:rgba(228, 35, 44, 0); border-bottom-color:#fff; border-width:4px; margin-right:-4px;}
.navigation .menu.push .list .arrowBox:before {border-color:rgba(250, 72, 29, 0); border-bottom-color:#c1c1c1; border-width:5px; margin-right:-5px;}
.navigation .menu.push .list .arrowBox button {border:0px; color:#3c5b96; float:right; height:30px; background:#fff; font-size:12px; cursor:pointer;}
.navigation .menu.push .list .arrowBox i {display:inline-block; float:right; background:#666; margin:14px 5px; height:2px; width:2px; border-radius:1px;}

.navigation .menu.push .list ul {width:100%; list-style:none; max-height:380px; overflow-y:auto; -webkit-overflow-scrolling:touch;}

.navigation .menu.push .list ul li {border-top:1px solid #ddd; text-align:left;}
.navigation .menu.push .list ul li b {color:#333;}
.navigation .menu.push .list ul li.loading {height:100px; background:url(../images/loading.gif) no-repeat 50% 50%;}
.navigation .menu.push .list ul li.noitem {display:none; height:100px; text-align:center; color:#666; line-height:100px;}
.navigation .menu.push .list ul li.item {display:table; width:100%; table-layout:fixed;}
.navigation .menu.push .list ul li.item .image {display:table-cell; width:40px; padding:5px 0px 5px 5px; vertical-align:top; box-sizing:border-box; font-size:0px; line-height:0px;}
.navigation .menu.push .list ul li.item .image img {width:35px; height:35px;}
.navigation .menu.push .list ul li.item .content {display:table-cell; width:100%; color:#666; line-height:1.6; padding:3px 5px 3px 5px; box-sizing:border-box; vertical-align:top; word-break:break-all;}

.navigation .menu.push ul li.unread {background:#edeff5;}

.index .notice {display:table; width:100%; table-layout:fixed; margin-bottom:10px;}
.index .notice > section {width:100%; display:table-cell; vertical-align:top; padding-right:15px;}
.index .notice > aside {width:250px; display:table-cell; vertical-align:top;}

@media (max-width:767px) {
	.index .notice {display:block;}
	.index .notice > section {width:100%; display:block; padding-right:0px;}
	.index .notice > aside {display:none;}
}


.blankSpace {width:15px; height:15px;}

.context .intro {height:250px; background:url(../images/intro.jpg) no-repeat 50% 50%; background-size:cover; box-shadow:0px 5px 5px rgba(0,0,0,0.1), inset 0px 10px 5px -5px rgba(0,0,0,0.3); font-weight:200; color:#fff; text-align:center; line-height:250px; font-size:25px; text-shadow:1px 1px 1px rgba(0,0,0,0.3); -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; user-select:none; margin-bottom:15px;}
.context .nbreadcrumb {border-bottom:1px solid #dddddd; background:#fafafa; font-size:11px;}
.context .nbreadcrumb .container {margin:0px auto;}
.context .nbreadcrumb h3 {display:inline-block; height:60px; line-height:60px; font-size:16px; font-weight:bold;}
.context .nbreadcrumb h3 i {font-size:15px; margin-right:5px;}
.context .nbreadcrumb ol {padding-top:30px; list-style:none; text-align:right; float:right;}
.context .nbreadcrumb ol li {display:inline-block;}
.context .nbreadcrumb ol li .fa-home {color:#666;}
.context .nbreadcrumb ol li .fa-angle-right {color:#999;}
.context .nbreadcrumb ol li a {color:#888; text-decoration:none;}
.context .nbreadcrumb ol li.current a {color:#e4232c; font-weight:bold;}

.context > .container {margin-top:10px;}

.tabTitle {height:30px; border-bottom:2px solid #333; position:relative; z-index:0;}
.tabTitle ul {list-style:none; position:absolute; top:0px; left:0px; width:100%; height:32px; font-size:0px;}
.tabTitle li {height:30px; line-height:30px; border:1px solid #ddd; border-bottom:0px; border-right:0px; box-sizing:border-box; font-size:12px; background:#f4f4f4; text-align:center; display:inline-block; vertical-align:top; cursor:pointer;}
.tabTitle li.selected {height:32px; border-color:#333 !important; border-bottom:2px solid #fff !important; background:#fff; font-weight:bold;}
.tabTitle li.selected + li {border-left:1px solid #333;}
.tabTitle li:last-child {border-right:1px solid #ddd;}
.tabContent {margin-top:10px;}

.defaultTitle {font-weight:bold; font-size:13px; color:#333; height:30px; line-height:30px; border-bottom:2px solid #333;}
.defaultTitle i {color:#df2933; font-size:12px;}
.defaultTitle .count {font-family:OpenSans, tahoma; color:#fa481d; font-weight:normal; font-size:11px;}

.defaultContent {font-size:12px; line-height:1.8; padding:15px 0px;}
.defaultContent a {text-decoration:none; color:#07c;}
.defaultContent a:hover {color:#30a7fc;}
.defaultContent.boxGray {background:#f4f4f4; border-bottom:1px solid #ccc; padding:15px;}

.defaultTable {display:table; width:100%; table-layout:fixed;}
.defaultTable table {table-layout:fixed; border-spacing:0px; border-collapse:collapse;}
.defaultTable table thead tr {height:40px; border-bottom:1px solid #eee;}
.defaultTable table thead tr th div {border-bottom:1px solid #ddd; height:40px; line-height:40px; font-weight:bold; color:#333; margin:0px;}

.defaultTable table tbody tr {height:30px; border-bottom:1px solid #eee;}
.defaultTable table tbody tr td div {white-space:nowrap; text-overflow:ellipsis; overflow:hidden; height:30px; line-height:30px; color:#333;}

.defaultTable table div.left {padding-left:8px;}
.defaultTable table div.center {text-align:center;}
.defaultTable table div.right {padding-right:8px; text-align:right;}

.defaultTable .fixedColumn {display:table-cell; vertical-align:top;}
.defaultTable .fixedColumn table {width:100%;}
.defaultTable .fixedColumn table td, .defaultTable .fixedColumn table th {border-right:1px solid #eee;}
.defaultTable .scrollColumn {display:table-cell; width:100%; vertical-align:top;}
.defaultTable .scrollColumn .scrolling {width:100%; overflow-x:auto; -webkit-overflow-scrolling:touch;}
.defaultTable .scrollColumn table {width:100%;}
.defaultTable .scrollColumn table td, .defaultTable .scrollColumn table th {border-right:1px solid #eee;}
.defaultTable .scrollColumn table td:last-child, .defaultTable .scrollColumn table th:last-child {border-right:0px;}
.defaultTable + .boxDefault {margin-top:5px;}

.defaultForm {table-layout:fixed; width:100%; border-spacing:0px; border-collapse:collapse;}
.defaultForm td.label {width:20%; background:#f4f4f4; font-size:12px; font-weight:bold; padding:0px 0px 0px 10px;}
.defaultForm td.input {width:80%;}
.defaultForm td.input .inputBlock, .defaultForm td.input .inputInline {font-size:12px; line-height:1.6; background:#fff; padding:8px; border-left:1px dotted #ccc;}
.defaultForm tr.split {background:#e5e5e5; height:1px; font-size:0px;}
.defaultForm tr.splitBottom {height:4px;}
.defaultForm tr.splitBottom div {border-top:1px solid #ccc; background:#f4f4f4; height:3px;}

.defaultForm .wysiwygFrame {background:#fff;}

.defaultForm .optionBlock {border:1px dotted #ccc; background:#f4f4f4; line-height:1.6; margin-top:5px; padding:8px;}
.defaultForm .optionBlock .row {margin:0px !important;}
.defaultForm .optionBlock .row div {padding:2px 0px !important;}
.defaultForm .optionBlock input {width:13px; height:13px; vertical-align:middle; display:inline-block;}
.defaultForm .optionBlock label {height:13px; line-height:13px; vertical-align:middle; display:inline-block; padding-left:5px; font-size:11px; cursor:pointer;}
.defaultForm .optionBlock label.disabled {color:#999;}

.rightFixed {position:relative;}

.footer {margin-top:10px;}
.footer .menu {border-top:1px solid #000; background:#333; height:34px;}
.footer .menu ul {list-style:none; font-size:0px; display:inline-block;}
.footer .menu ul li {display:inline-block; height:14px; margin:10px 0px; padding:0px 8px; border-right:1px solid #999;}
.footer .menu ul li:first-child {border-left:1px solid #999;}
.footer .menu ul li a {display:block; height:14px; line-height:14px; font-size:11px; color:#999; text-decoration:none;}
.footer .menu ul li a:hover {color:#eee;}
.footer .menu .top {float:right; cursor:pointer; font-size:12px; font-family:OpenSans; color:#eee; cursor:pointer; height:34px; line-height:34px; border:0px; background:transparent;}

.footer .copyright {border-top:1px solid #000; background:#222; padding:15px 0px; font-size:0px;}
.footer .copyright .logo {display:inline-block; width:50px; height:50px; margin:10px 20px 10px 0px; background-size:contain; background-position:50% 50%; opacity:0.8; vertical-align:top;}
.footer .copyright .text {display:inline-block; height:40px; margin:16px 0px 24px 0px; line-height:20px; color:#777; font-size:11px; vertical-align:top;}
.footer .copyright .text a {color:#777; text-decoration:none;}
.footer .copyright .text a:hover {color:#eee;}
.footer .copyright .social {height:60px; float:right;}
.footer .copyright .social a {display:inline-block; font-size:32px; height:40px; margin:20px 0px 0px 5px; line-height:40px; color:#777;}
.footer .copyright .social a:hover {color:#eee;}

.sidemenu {width:260px; background:#222;}
.sidemenu .loginform {padding:10px;}
.sidemenu > div {overflow-y:auto; height:100%; -webkit-overflow-scrolling:touch;}
.sidemenu > ul {list-style:none; border-top:1px solid #000;}
.sidemenu ul li {font-size:0px;}
.sidemenu ul li a {display:block; color:#fff; font-size:11px; padding-right:10px; text-decoration:none; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.sidemenu ul li a:focus, .sidemenu ul li a:hover, .sidemenu ul li a:active, .sidemenu ul li a.selected, .sidemenu ul li a.touch {background:#e4232c;}
.sidemenu ul li.menu {border-bottom:1px solid #222; background:#333;}
.sidemenu ul li.menu a {height:40px; line-height:40px; padding-left:10px; font-weight:bold;}
.sidemenu ul li.menu > ul {display:none; overflow:hidden;}

.sidemenu ul li.menu .fa-chevron-up, .sidemenu ul li.menu .fa-chevron-down {display:block; width:40px; height:40px; float:right; text-align:center; line-height:40px; margin-right:-10px;}

.sidemenu ul li.menu .fa-plus {display:inline;}
.sidemenu ul li.menu .fa-minus {display:none;}
.sidemenu ul li.menu .fa-chevron-up {display:none;}
.sidemenu ul li.menu .fa-chevron-down {display:block;}

.sidemenu ul li.menu.opened .fa-plus {display:none;}
.sidemenu ul li.menu.opened .fa-minus {display:inline;}
.sidemenu ul li.menu.opened .fa-chevron-up {display:block;}
.sidemenu ul li.menu.opened .fa-chevron-down {display:none;}
.sidemenu ul li.menu.opened > ul {display:block;}

.sidemenu ul li.page {border-top:1px solid #222; background:#444;}
.sidemenu ul li.page a {height:34px; line-height:34px; padding-left:20px;}

.sidemenuDisabled {background:rgba(0,0,0,0.5); position:fixed; top:0px; left:0px; z-index:1500; display:hidden;}

@media (max-width:767px) {
	.context .intro {height:150px; font-size:3vw; line-height:150px; letter-spacing:-1px;}
	.navigation .menu.push .list {width:100%; right:-74px;}
	.navigation .menu.push .list .arrowBox:after, .navigation .menu.push .list .arrowBox:before {bottom:100%; right:88px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
	.navigation .menu.push .list .arrowBox:after {border-color:rgba(228, 35, 44, 0); border-bottom-color:#fff; border-width:4px; margin-right:-4px;}
	.navigation .menu.push .list .arrowBox:before {border-color:rgba(250, 72, 29, 0); border-bottom-color:#c1c1c1; border-width:5px; margin-right:-5px;}
}

.downloadLink {display:block; border-top:1px solid #ddd; border-right:1px solid #ccc; border-bottom:1px solid #ccc; border-left:1px solid #ddd; padding:8px; width:100%; height:56px; background:#fdfdfd; padding:10px; cursor:pointer; box-sizing:border-box; text-decoration:none; color:#666;}
.downloadLink i {float:left; width:40px; height:40px; line-height:40px; font-size:30px; color:#999; margin-right:10px; text-align:center;}
.downloadLink div.text {height:20px; line-height:20px; font-size:15px; color:#333; text-align:left;}
.downloadLink div.version {height:15px; line-height:15px; font-family:OpenSans, tahoma; font-size:12px; text-align:left;}
.downloadLink div.version b {color:#df2933;}
.downloadLink div.version .reg_date {color:#999; font-size:11px;}
.downloadLink:hover {background:#f4f4f4; border-color:#ccc;}
.downloadLink:hover i {color:#df2933;}