.DS_Store
/iModule.preset.php
/classes/PHPWord*
/addons/*
!/addons/index.php
/attachments/*
!/attachments/index.php
/configs/*
!/configs/index.php
!/configs/init.config.php
/modules/*
!/modules/index.php
/templets/*
/templets/default/*
/widgets/*
!/widgets/index.php
.project
iModule.preset.php