.DS_Store
.idea
.nova
/iModule.preset.php
/classes/PHPWord*
/plugins/*
!/plugins/index.php
/attachments/*
!/attachments/index.php
/configs/*
!/configs/index.php
!/configs/init.config.php
/modules/*
!/modules/index.php
/templets/*
!/templets/index.php
/widgets/*
!/widgets/index.php
.project
iModule.preset.php