<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="admin 1" stopProcessing="true">
					<match url="^admin/([^\/]+)/?$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
					</conditions>
					<action type="Rewrite" url="admin/index.php?menu={R:1}" appendQueryString="false" />
				</rule>
				<rule name="admin 2" stopProcessing="true">
					<match url="^admin/([^\/]+)/([^\/]+)$" ignoreCase="false" />
					<action type="Rewrite" url="admin/index.php?menu={R:1}&amp;page={R:2}" appendQueryString="false" />
				</rule>
				<rule name="admin 3" stopProcessing="true">
					<match url="^admin/([^\/]+)/([^\/]+)/([^\/]+)$" ignoreCase="false" />
					<action type="Rewrite" url="admin/index.php?menu={R:1}&amp;page={R:2}&amp;tab={R:3}" appendQueryString="false" />
				</rule>
				<rule name="api 1" stopProcessing="true">
					<match url="^api/([^/\.]+)/([^/\.]+)/(.*?)?$" ignoreCase="false" />
					<action type="Rewrite" url="api/index.php?_module={R:1}&amp;_api={R:2}&amp;_idx={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="api 2" stopProcessing="true">
					<match url="^api/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="api/index.php?_module={R:1}&amp;_api={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="oauth" stopProcessing="true">
					<match url="^oauth/(.*?)$" ignoreCase="false" />
					<action type="Rewrite" url="process/index.php?_module=member&amp;_action={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="attachment" stopProcessing="true">
					<match url="^attachment/(original|view|thumbnail|download)/([0-9]+)/([^\/]+)$" ignoreCase="false" />
					<action type="Rewrite" url="process/index.php?_module=attachment&amp;_action={R:1}&amp;idx={R:2}&amp;name={R:3}" appendQueryString="false" />
				</rule>
				<rule name="process 1" stopProcessing="true">
					<match url="^([a-z]{2})/process/([^/\.]+)/([^/\.]+)/(.*?)$" ignoreCase="false" />
					<action type="Rewrite" url="process/index.php?_language={R:1}&amp;_module={R:2}&amp;_action={R:3}&amp;idx={R:4}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="process 2" stopProcessing="true">
					<match url="^([a-z]{2})/process/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="process/index.php?_language={R:1}&amp;_module={R:2}&amp;_action={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="module 1" stopProcessing="true">
					<match url="^([a-z]{2})/module/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="modules/index.php?language={R:1}&amp;module={R:2}{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="module 2" stopProcessing="true">
					<match url="^([a-z]{2})/module/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="modules/index.php?language={R:1}&amp;module={R:2}&amp;&amp;container={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="module 3" stopProcessing="true">
					<match url="^([a-z]{2})/module/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="modules/index.php?language={R:1}&amp;module={R:2}&amp;&amp;container={R:3}&amp;view={R:4}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="module 4" stopProcessing="true">
					<match url="^([a-z]{2})/module/([^/\.]+)/([^/\.]+)/([^/\.]+)/(.*?)$" ignoreCase="false" />
					<action type="Rewrite" url="modules/index.php?language={R:1}&amp;module={R:2}&amp;container={R:3}&amp;view={R:4}&amp;idx={R:5}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="sitemap 1" stopProcessing="true">
					<match url="^([a-z]{2})/([^/\.]+)/([^/\.]+)/([^/\.]+)/(.*?)$" ignoreCase="false" />
					<action type="Rewrite" url="index.php?language={R:1}&amp;menu={R:2}&amp;page={R:3}&amp;view={R:4}&amp;idx={R:5}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="sitemap 2" stopProcessing="true">
					<match url="^([a-z]{2})/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="index.php?language={R:1}&amp;menu={R:2}&amp;page={R:3}&amp;view={R:4}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="sitemap 3" stopProcessing="true">
					<match url="^([a-z]{2})/([^/\.]+)/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="index.php?language={R:1}&amp;menu={R:2}&amp;page={R:3}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="sitemap 4" stopProcessing="true">
					<match url="^([a-z]{2})/([^/\.]+)/?$" ignoreCase="false" />
					<action type="Rewrite" url="index.php?language={R:1}&amp;menu={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
				</rule>
				<rule name="sitemap 5">
					<match url="^([a-z]{2})/?$" ignoreCase="false" />
					<action type="Rewrite" url="index.php?language={R:1}" appendQueryString="false" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>