.WidgetMemberLoginSideMenu {}
.WidgetMemberLoginSideMenu .inputBlock {margin-bottom:10px;}
.WidgetMemberLoginSideMenu .inputBlock .inputControl {border-color:#444; background:#000; color:#ccc;}
.WidgetMemberLoginSideMenu .inputBlock .inputControl:-moz-placeholder {color:#666;}
.WidgetMemberLoginSideMenu .inputBlock .inputControl::-moz-placeholder {color:#666;}
.WidgetMemberLoginSideMenu .inputBlock .inputControl:-ms-input-placeholder {color:#666;}
.WidgetMemberLoginSideMenu .inputBlock .inputControl::-webkit-input-placeholder {color:#666;}

.WidgetMemberLoginSideMenu .buttons {display:table; width:100%; table-layout:fixed;}
.WidgetMemberLoginSideMenu .buttons .social {display:table-cell; width:32px; vertical-align:top;}
.WidgetMemberLoginSideMenu .buttons .button {display:table-cell; width:100%; vertical-align:top;}
.WidgetMemberLoginSideMenu .btn {display:block; width:100%;}
.WidgetMemberLoginSideMenu .buttons .social .btn {width:28px; padding:5px 0px;}

.WidgetMemberLoginSideMenu .bottom {height:30px; color:#ccc; font-size:11px;}
.WidgetMemberLoginSideMenu .bottom .autoLogin, .WidgetMemberLoginSideMenu .bottom .mypage {display:inline-block; height:30px; line-height:30px; vertical-align:middle; cursor:pointer;}
.WidgetMemberLoginSideMenu .bottom .autoLogin input {margin-right:5px; float:left; margin-top:8px;}
.WidgetMemberLoginSideMenu .bottom .link {float:right; height:30px; line-height:30px;}
.WidgetMemberLoginSideMenu .bottom a {text-decoration:none; color:#ccc;}
.WidgetMemberLoginSideMenu .bottom a:hover {color:#e4232c;}

.WidgetMemberLoginSideMenu .info {display:table; table-layout:fixed; width:100%; color:#eee;}
.WidgetMemberLoginSideMenu .info > div {display:table-cell; vertical-align:middle;}
.WidgetMemberLoginSideMenu .info div.photo {width:70px;}
.WidgetMemberLoginSideMenu .info div.photo img {width:58px; height:58px; border:1px solid #ccc; border-radius:3px;}
.WidgetMemberLoginSideMenu .info div.detail {width:100%;}
.WidgetMemberLoginSideMenu .info div.detail .nickname {font-size:15px; font-weight:bold; margin-bottom:10px; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.WidgetMemberLoginSideMenu .info div.detail .nickname .reg_date {font-size:11px; font-family:OpenSans, defaultFont; color:#999; float:right; font-weight:normal; margin-top:3px;}
.WidgetMemberLoginSideMenu .info div.detail .level {display:table; table-layout:fixed; width:100%;}
.WidgetMemberLoginSideMenu .info div.detail .level .text {display:table-cell; width:40px; font-size:12px; font-family:OpenSans, defaultFont; vertical-align:middle;}
.WidgetMemberLoginSideMenu .info div.detail .level .text b {color:#e4232c;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph {width:100%; font-size:0px; vertical-align:middle;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .bar {height:10px; border:1px solid #c7c7c7; border-radius:5px; background:#e1e1e1; position:relative; margin-top:1px;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .percentage {min-width:10px; margin:-1px; height:10px; border:1px solid #a6d592; width:50%; border-radius:5px; background:#e8f688; vertical-align:top;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail {display:none; position:absolute; z-index:150; width:100%; top:14px; text-align:center;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail .arrowBox {position:relative; background:#e4232c; border:1px solid #fa481d; height:20px; line-height:20px; padding:0 5px; color:#fff; font-size:11px; display:inline-block; vertical-align:middle;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail .arrowBox:after, .WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail .arrowBox:before {bottom:100%; left:50%; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail .arrowBox:after {border-color:rgba(228, 35, 44, 0); border-bottom-color:#e4232c; border-width:4px; margin-left:-4px;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph .levelDetail .arrowBox:before {border-color:rgba(250, 72, 29, 0); border-bottom-color:#fa481d; border-width:5px; margin-left:-5px;}
.WidgetMemberLoginSideMenu .info div.detail .level .graph:hover .levelDetail {display:block;}
.WidgetMemberLoginSideMenu .blocks {display:table; width:100%; table-layout:fixed; color:#999; font-size:11px;}
.WidgetMemberLoginSideMenu .blocks > div {display:table-cell; width:50%; height:28px; line-height:28px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; vertical-align:middle;}
.WidgetMemberLoginSideMenu .blocks > div > i {float:left; width:15px; height:28px; line-height:28px;}
.WidgetMemberLoginSideMenu .blocks > div .number {font-family:OpenSans, defaultFont; font-size:11px;}
.WidgetMemberLoginSideMenu .blocks > div b {color:#e4232c;}
.WidgetMemberLoginSideMenu .blocks > div a {color:#999; text-decoration:none;}