.WidgetBoardRecentlyNotice {font-size:12px; margin:5px 0px;}
.WidgetBoardRecentlyNotice .listTitle {display:table; overflow:hidden; margin-bottom:10px;}
.WidgetBoardRecentlyNotice .listTitle i {display:table-cell; white-space:nowrap; overflow:hidden; color:#e91b23; padding-right:5px;}
.WidgetBoardRecentlyNotice .listTitle b {display:table-cell; white-space:nowrap; overflow:hidden; font-size:13px; color:#333;}
.WidgetBoardRecentlyNotice .listTitle b a {color:#333; text-decoration:none;}
.WidgetBoardRecentlyNotice .listTitle .bar {display:table-cell; width:100%; overflow:hidden; font-size:0px;}
.WidgetBoardRecentlyNotice .listTitle .bar span {display:block; height:2px; margin:0px 0px 3px 5px; padding:0px; background:#eee;}

.WidgetBoardRecentlyNotice .preview {display:table; table-layout:fixed; width:100%; border-bottom:1px dashed #ccc; margin-bottom:5px;}
.WidgetBoardRecentlyNotice .preview > aside {width:80px; display:table-cell; vertical-align:top;}
.WidgetBoardRecentlyNotice .preview > aside .day {width:55px; margin-left:10px;  border:1px solid #ccc; border-radius:3px; background:#eee; overflow:hidden; text-align:center;}
.WidgetBoardRecentlyNotice .preview > aside .day:after, .WidgetBoardRecentlyNotice .preview > aside .day:before {clear:both; content:""; display:block;}
.WidgetBoardRecentlyNotice .preview > aside .day .date {font-family:OpenSans; text-align:center; font-size:28px; color:#333; font-weight:bold; padding:6px 0px; background:#fff;}
.WidgetBoardRecentlyNotice .preview > aside .day .month {display:inline-block; font-family:OpenSans; font-size:11px; text-transform:uppercase; color:#e91b23; font-weight:400; padding:4px 0px 4px 6px;}
.WidgetBoardRecentlyNotice .preview > aside .day .year {display:inline-block; font-family:OpenSans; font-size:11px; font-weight:200; color:#222; padding:4px 6px 4px 0px;}
.WidgetBoardRecentlyNotice .preview > article {width:100%; display:table-cell; vertical-align:top;}
.WidgetBoardRecentlyNotice .preview > article h4 {font-size:16px; font-weight:bold; display:block; height:20px; line-height:20px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; margin:3px 0px 8px 0px;}
.WidgetBoardRecentlyNotice .preview > article h4 a {color:#333; text-decoration:none;}
.WidgetBoardRecentlyNotice .preview > article .content {margin-top:5px; line-height:1.8; font-size:13px; color:#666; padding:0px 5px 5px 0px; overflow-x:hidden; overflow-y:scroll; height:160px;}

.WidgetBoardRecentlyNotice ul {list-style:none;}
.WidgetBoardRecentlyNotice ul li {padding-left:0px;}
.WidgetBoardRecentlyNotice ul li a {height:24px; line-height:24px; display:block; text-decoration:none; text-overflow:ellipsis; overflow:hidden; white-space:nowrap; color:#222;}
.WidgetBoardRecentlyNotice ul li a:hover {color:#e91b23;}
.WidgetBoardRecentlyNotice ul li a span {height:24px; line-height:24px; float:right; display:block; white-space:nowrap; margin-left:5px;}
.WidgetBoardRecentlyNotice ul li a span.reg_date {font-family:OpenSans, defaultFont; font-size:11px; color:#e91b23; text-transform:uppercase;}
.WidgetBoardRecentlyNotice ul li a i {font-size:10px; color:#ddd; float:left; display:block; height:24px; line-height:24px; margin-right:5px;}
.WidgetBoardRecentlyNotice ul li.new a i {color:#e91b23;}