.WidgetPagelistSidebar {font-size:12px;}
.WidgetPagelistSidebar .menuTitle {display:table; overflow:hidden; margin-bottom:10px;}
.WidgetPagelistSidebar .menuTitle h2 {display:table-cell; white-space:nowrap; overflow:hidden; font-size:15px;}
.WidgetPagelistSidebar .menuTitle .bar {display:table-cell; width:100%; overflow:hidden; font-size:0px;}
.WidgetPagelistSidebar .menuTitle .bar span {display:block; height:4px; margin:0px 0px 2px 5px; padding:0px; background:#eee;}
.WidgetPagelistSidebar ul {list-style:none; padding:0px; margin:0px;}
.WidgetPagelistSidebar ul > li {font-size:0px; margin-left:10px;}
.WidgetPagelistSidebar ul > li > a {display:block; text-decoration:none; height:20px; padding:3px 0px;}
.WidgetPagelistSidebar ul > li > a:hover > i {background:#e91b23 !important;}
.WidgetPagelistSidebar ul > li > a:hover > b {color:#e91b23 !important;}
.WidgetPagelistSidebar ul > li > a > i {width:20px; height:20px; text-align:center; line-height:20px; font-size:12px; color:#fff; background:#333;}
.WidgetPagelistSidebar ul > li > a > b {height:20px; line-height:20px; font-size:12px; margin-left:5px; color:#333;}
.WidgetPagelistSidebar ul > li > a > span.badge {font-size:11px; font-family:OpenSans, defaultFont; float:right; display:inline-block; height:20px; line-height:20px; padding:0px 6px; background:#e5e5e5; color:#666; border-radius:3px;}
.WidgetPagelistSidebar ul > li > a > span.link {font-size:14px; float:right; display:inline-block; height:20x; line-height:20px; padding:0px; color:#666;}
.WidgetPagelistSidebar ul > li > a > span.badge.new {background:#e91b23; color:#fff;}

.WidgetPagelistSidebar ul > li.selected > a > i {background:#e91b23;}
.WidgetPagelistSidebar ul > li.selected > a > b {color:#e91b23;}