* {padding:0px; margin:0px;}
body {font-size:12px;}

/* defaults */
html {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;}

input[type=text], input[type=textarea.textareaControl], input[type=number], input[type=email] {-webkit-appearance:none; outline:none; border-radius:0;}
input[type=number]::-webkit-inner-spin-button {-webkit-appearance:none;}
textarea {-webkit-appearance:none; border-radius:0;}
button, input, textarea {font-family:inherit; font-size:12px; outline:none;}
*[data-role|=templet] {display:none !important;}

.fontRed {color:#df2933 !important;}
.fontBlue {color:#2980b9 !important;}
.fontGray {color:#999 !important;}
.fontBold {font-weight:bold !important;}

.left {text-align:left;}
.center {text-align:center;}
.right {text-align:right;}

#iModuleWrapper {padding:0px; box-sizing:border-box;}
#iModuleSlideMenu {display:none; position:fixed; top:0px; right:-10000px; -webkit-user-select:none; -ms-user-select:none; -moz-user-select:none; -o-user-select:none; z-index:2000;}
#iModuleWindowDisabled {background:rgba(0,0,0,0.3); position:fixed; z-index:10000; top:0px; left:0px; width:100%;}

#iModuleAlertMessage {position:fixed; top:0px; left:0px; width:100%; z-index:20000;}
#iModuleAlertMessage .message {padding:8px 30px 8px 10px; font-weight:bold; position:relative; line-height:1.6; font-size:12px;}
#iModuleAlertMessage .message .close {width:30px; height:30px; line-height:30px; text-align:center; font-size:14px; top:3px; right:3px; position:absolute; cursor:pointer; opacity:0.7;}
#iModuleAlertMessage .default {background:#fdf1af; border-bottom:1px solid #a29239;}
#iModuleAlertMessage .error {background:#c10000; border-bottom:1px solid #960000; color:#ffff80;}
#iModuleAlertMessage .success {background:#e4f5fd; border-bottom:1px solid #98c1e5; color:#4680ae;}
#iModuleAlertMessage .progress {background:#e5e5e5; height:10px;}
#iModuleAlertMessage .progress span {display:block; width:100%; height:100%; background-color:#e4232c; background-image:linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent); -webkit-animation:progress-bar-stripes 2s linear infinite; -o-animation:progress-bar-stripes 2s linear infinite; animation:progress-bar-stripes 2s linear infinite; background-size:40px 40px;}
@-webkit-keyframes progress-bar-stripes {
	from {background-position:40px 0;}
	to {background-position:0 0;}
}
@-o-keyframes progress-bar-stripes {
	from {background-position:40px 0;}
	to {background-position:0 0;}
}
@keyframes progress-bar-stripes {
	from {background-position:40px 0;}
	to {background-position:0 0;}
}

/* module */
div[data-module] {width:100%; height:100%;}

/* form */
input.inputControl {width:100%; height:30px; padding:2px 5px; font-size:12px; line-height:1.5; border-radius:3px; border:1px solid #ccc; vertical-align:middle; color:#555; background-color:#ffffff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; box-sizing:border-box;}
input.inputControl:focus {border-color:#66afe9; outline:0; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
input.inputControl[disabled] {cursor:not-allowed; background-color:#eee;}
input.inputControl:-moz-placeholder {color:#999;}
input.inputControl::-moz-placeholder {color:#999;}
input.inputControl:-ms-input-placeholder {color:#999;}
input.inputControl::-webkit-input-placeholder {color:#999;}

.inputBlock, inputInline {position:relative;}
.inputBlock .helpBlock {line-height:1.6; margin-top:5px;}
.inputInline input.inputControl {display:inline-block; vertical-align:middle; margin-right:5px;}
.inputInline .helpBlock {display:inline-block; vertical-align:middle; height:30px; line-height:30px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; max-width:100%;}
.inputBlock .row {margin-top:-5px; margin-right:-5px;}
.inputBlock .row > div {padding-top:5px; padding-right:5px;}

.helpBlock {color:#666666;}
.helpBlock:empty {display:none !important;}

.inputBlock .errorBlock, .inputInline .errorBlock {position:absolute; bottom:-24px; left:-5px; background:#e4232c; border:1px solid #fa481d; height:24px; line-height:24px; padding:0 8px; min-width:30px; color:#fff; font-size:12px; display:none; vertical-align:middle; z-index:100;}
.inputBlock .errorBlock:after, .inputInline .errorBlock:after {bottom:100%; left:12px; border:solid transparent; content:" "; height:0; width:0; position:absolute; pointer-events:none;}
.inputBlock .errorBlock:after, .inputInline .errorBlock:after {border-color:rgba(228, 35, 44, 0); border-bottom-color:#e4232c; border-width:5px; margin-left:-4px;}

.inputBlock label, .inputInline label {width:auto; height:30px; line-height:30px; cursor:pointer;}
.inputInline label {margin-right:10px;}
.inputBlock label {display:block;}
.inputInline label {display:inline-block;}
.inputBlock label input, .inputInline label input {vertical-align:middle; margin-right:5px;}

.hasError input.inputControl, .hasError textarea.textareaControl, .hasError div.selectControl > button {border-color:#b94a48; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.hasError input.inputControl:focus, .hasError textarea.textareaControl:focus, .hasError div.selectControl > button:focus {border-color:#953b39; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;}
.hasError .helpBlock {color:#b94a48;}
.hasError .cke {border-color:#b94a48;}

.hasSuccess input.inputControl, .hasSuccess textarea.textareaControl, .hasSuccess div.selectControl > button {border-color:#468847; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075);}
.hasSuccess input.inputControl:focus, .hasSuccess textarea.textareaControl:focus, .hasSuccess div.selectControl > button:focus {border-color:#356635; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;}
.hasSuccess .helpBlock {color:#468847;}
.hasSuccess .cke {border-color:#468847;}

textarea.textareaControl {width:100%; padding:2px 5px; font-size:12px; line-height:1.6; border-radius:3px; border:1px solid #ccc; vertical-align:middle; color:#555; background-color:#ffffff; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075); transition:border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; box-sizing:border-box; resize:none;}
textarea.textareaControl:focus {border-color:#66afe9; outline:0; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
textarea.textareaControl[disabled] {cursor:not-allowed; background-color:#eee;}
textarea.textareaControl:-moz-placeholder {color:#999;}
textarea.textareaControl::-moz-placeholder {color:#999;}
textarea.textareaControl:-ms-input-placeholder {color:#999;}
textarea.textareaControl::-webkit-input-placeholder {color:#999;}

div.selectControl {display:inline-block; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; position:relative; width:100%; height:30px;}
div.selectControl > button {display:inline-block; padding:3px 20px 3px 10px; margin-bottom:0; font-size:12px; font-weight:bold; line-height:1.5; text-align:left; vertical-align:middle; cursor:pointer; border:1px solid transparent; border-radius:3px; white-space:nowrap; text-decoration:none !important; color:#333333; background-color:#ffffff; border-color:#ccc; box-sizing:border-box; width:100%; height:30px; overflow:hidden; text-overflow:ellipsis; position:relative;}
div.selectControl > button:hover {color:#333333; background-color:#ebebeb; border-color:#adadad;}
div.selectControl > button:focus, div.selectControl > button:active {border-color:#66afe9; outline:0; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);}
div.selectControl > button[disabled] {cursor:not-allowed; background-color:#eee;}
div.selectControl > button[disabled]:hover {background-color:#eee; border-color:#ccc;}
div.selectControl .arrow {display:inline-block; width:0; height:0; margin-left:2px; vertical-align:middle; border-top:4px solid #000000; border-right:4px solid transparent; border-bottom:0 dotted; border-left:4px solid transparent; content:""; position:absolute; top:13px; right:10px;}
div.selectControl > ul {display:none; box-sizing:border-box; width:100%; position:absolute; top:28px; left:0; z-index:1000; float:left; min-width:60px; padding:4px 0; margin:2px 0 0; font-size:12px; list-style:none; background-color:#ffffff; border:1px solid #66afe9; border-radius:0px 0px 3px 3px; background-clip:padding-box; max-height:202px; overflow-y:auto; overflow:auto; border-top:0px;}
div.selectControl > ul .divider {height:1px; margin:5px 0; overflow:hidden; background-color:#e5e5e5 !important; padding:0px !important;}
div.selectControl > ul li {display:block; padding:3px 10px; clear:both; font-weight:normal; color:#333333; white-space:nowrap; cursor:pointer; overflow:hidden; text-overflow:ellipsis; height:18px; line-height:18px;}
div.selectControl > ul li:hover, div.selectControl > ul li:focus {outline:0; color:#fff; text-decoration:none; background-color:#428bca;}
div.selectControl > ul li:hover span, div.selectControl > ul li:focus span {outline:0; color:#fff; text-decoration:none; background-color:#428bca;}
div.selectControl > ul li[data-disabled=true] {color:#666 !important; background:#f4f4f4 !important; cursor:not-allowed;}
div.selectControlExtend > ul {display:block; z-index:1000;}
div.selectControlExtend > button {background:#fff !important; border-color:#66afe9; outline:0; box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); border-radius:3px 3px 0px 0px;}
div.selectControlExtend > button .arrow {display:inline-block; width:0; height:0; margin-left:2px; vertical-align:middle; border-bottom:4px solid #000000; border-right:4px solid transparent; border-top:0 dotted; border-left:4px solid transparent; content:""; position:absolute; top:13px; right:10px; color:red;}

.inputInline div.selectControl {display:inline-block; vertical-align:middle; margin-right:5px;}

/* wysiwyg styles */
.wrapContent {word-break:break-all;}
.wrapContent h1 {font-size:17px; font-weight:bold;}
.wrapContent h2 {font-size:15px; font-weight:bold;}
.wrapContent h3 {font-size:13px; font-weight:bold;}
.wrapContent ol, .wrapContent ul {list-style-position:inside;}
.wrapContent label {display:inline !important;}
.wrapContent table {border-collapse:collapse; border-spacing:0; border:1px; empty-cells:show; table-layout:auto; max-width:100%;}
.wrapContent table thead tr {border-bottom:2px solid #252525}
.wrapContent table thead th {background:#e6e6e6; border:1px solid #dddddd; padding:2px 5px;}
.wrapContent table tbody td {border:1px solid #dddddd; padding:2px 5px; vertical-align:middle; }
.wrapContent .btnDownload {margin:5px 0px;}

/* table */
.table {width:100%; table-layout:fixed; border-collapse:collapse; border-spacing:0px;}
.table td.label {background:#f8f8f9; color:#758190; font-weight:bold;}
.table td.label > div.text, .table td.value > div.text {padding:5px 8px; text-overflow:ellipsis; white-space:nowrap; min-height:30px; line-height:30px;}
.table td.value > div.input {padding:5px 8px;}
.table td.value {color:#333;}
.table td.split {background:#cfdbe6; width:1px; height:1px;}
.table td.splitHeader {height:2px solid #a5b5cc;}
.table td.splitBottom {height:3px; background:#f4f4f4;}
.table td.splitBottom div {height:1px; background:#e5e5e5; border-top:1px solid #cfdbe6;}


/* buttons */
.btn {display:inline-block; padding:5px 10px; margin-bottom:0; font-size:12px; font-weight:bold; line-height:1.5; text-align:center; vertical-align:middle; cursor:pointer; border:1px solid transparent; border-radius:3px; white-space:nowrap; -webkit-user-select:none; -moz-user-select:none; -ms-user-select:none; -o-user-select:none; user-select:none; text-decoration:none !important;}
.btn:focus {outline:thin dotted #333; outline:5px auto -webkit-focus-ring-color; outline-offset:-2px;}
.btn:hover, .btn:focus {text-decoration:none;}
.btn:active, .btn.active {background-image:none; outline:0; box-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {pointer-events:none; cursor:not-allowed; opacity:0.65; filter:alpha(opacity=65); box-shadow:none;}

.btnWhite {color:#333333; background-color:#ffffff; border-color:#ccc;}
.btnWhite:focus, .btnWhite:hover {color:#333333; background-color:#ebebeb; border-color:#adadad;}
.btnRed {background:#e4232c !important; color:#fff !important;}
.btnRed:hover, .btnRed:focus {background:#d1141c !important; color:#fff !important;}
.btnSilver {background:#ededed !important; color:#222 !important;}
.btnSilver:hover, .btnGray:focus {background:#dfdfdf !important; color:#000 !important;}
.btnGray {background:#ccc !important; color:#222 !important;}
.btnGray:hover, .btnGray:focus {background:#bbb !important; color:#000 !important;}
.btnBlue {background:#2980b9 !important; color:#fff !important;}
.btnBlue:hover, .btnBlue:focus {background:#1d6da2 !important; color:#fff !important;}
.btnFacebook {background:#5b75a5; color:#fff;}
.btnFacebook:hover {background:#516d9f;}
.btnFacebook .fa-facebook-f {font-size:1.1em; vertical-align:middle;}
.btnGoogle {background:#cd4431; color:#fff;}
.btnGoogle:hover {background:#903022;}
.btnGoogle .fa-google-plus {font-size:1.1em; vertical-align:middle;}
.btnGithub {background:#525251; color:#fff;}
.btnGithub:hover {background:#393939;}
.btnGithub .fa-github-alt {font-size:1.1em; vertical-align:middle;}

.btnGroup {font-size:0px;}
.btnGroup .btn {border-radius:0px; border-left-width:0px;}
.btnGroup .btn:first-child {border-radius:3px 0px 0px 3px; border-left-width:1px;}
.btnGroup .btn:last-child {border-radius:0px 3px 3px 0px;}
.btnGroup .toggle {border-color:#333; background:#444; color:#fff; font-weight:normal;}
.btnGroup .toggle:hover, .btnGroup .toggle:focus, .btnGroup .toggle[class*="selected"] {background:#000;}
.btnGroup .toggle[disabled] {background:#000 !important; color:#666;}
.btnGroup .toggle i {width:15px; text-align:left;}

.pagination {display:inline-block; padding:0px; margin:10px 0px; border:1px solid #d5d5d5; list-style:none; font-size:0px; background:#fcfcfc;}
.pagination li {display:inline-block; padding:0px; height:24px; border-right:1px solid #d5d5d5;}
.pagination li a {display:block; width:100%; height:26px; border:1px solid transparent; margin:-2px 0px -2px -1px; text-decoration:none; text-align:center; color:#666; line-height:26px;}
.pagination li a span {min-width:16px; padding:0px 5px; display:inline-block; font-size:11px; height:26px; line-height:26px; letter-spacing:-1px;}
.pagination li:last-child {border-right:0px;}
.pagination li a:hover, .pagination li.active a {border-color:#bc1922; background:#e4232c; line-height:26px; color:#fff; text-shadow:1px 1px 1px rgba(0,0,0,0.3);}
.pagination li.active span {font-weight:bold;}
.pagination li.disabled a {color:#ccc; cursor:not-allowed;}
.pagination li.disabled a:hover {border-color:transparent; background:transparent;}

/* modal */
.modal {font-size:12px; width:500px; margin:auto; background:#fff; color:#000; box-shadow:0 1px 70px rgba(0, 0, 0, 0.5);}
.modal header {display:block; height:80px; line-height:80px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; font-size:18px; font-weight:bold; padding-left:20px;}
.modal header i {float:right; color:#bbb; display:block; padding:10px; cursor:pointer; margin:10px 5px; font-size:16px;}
.modal header i:hover {color:#000;}

.modal .content {padding:0px 20px; line-height:1.6;}
.modal .content .blank {height:15px;}
.modal .content .message {line-height:1.6; margin-bottom:5px;}
.modal .content label {display:block; height:20px; line-height:20px;}

.modal .button {font-size:0px; margin-top:20px; display:table; width:100%; table-layout:fixed;}
.modal .button div {display:table-cell;}
.modal .button button {width:100%; height:40px; cursor:pointer; border:0px; font-size:12px; background:#ddd; color:#4f4f4f; vertical-align:top;}
.modal .button button:hover {background:#bbb; color:#000;}
.modal .button button.submit {background:#2764b2; color:#c9d4e3; font-weight:bold;}
.modal .button button.submit:hover {background:#1c477e; color:#fff;}
.modal .button button.submit[disabled] {background:#1c477e; color:#fff; opacity:0.8; cursor:not-allowed;}
.modal .button button.danger {background:#b1282a; color:#cea5a5; font-weight:bold;}
.modal .button button.danger:hover {background:#851e1f; color:#fff;}
.modal .button button.danger[disabled] {background:#851e1f; color:#fff; opacity:0.8; cursor:not-allowed;}

/* boxes */
.boxDefault {display:block; background:#fffeeb; border:1px solid #e0d0bc; padding:8px; line-height:1.8;}
.boxWarning {display:block; background:#c10000; border:1px solid #960000; color:#ffff80; padding:8px; line-height:1.8;}
.boxInfo {display:block; background:#e4f5fd; border:1px solid #98c1e5; color:#4680ae; padding:8px; line-height:1.8;}
.boxGray {display:block; background:#f4f4f4; border:1px solid #e5e5e5; color:#333; padding:8px; line-height:1.8;}

/* media */
.container {padding-right:5px; padding-left:5px; margin-right:auto; margin-left:auto;}
.container:before, .container:after {clear:both; content:" "; display:block;}
.row {margin-right:-15px; margin-left:0px; margin-top:-15px; min-height:15px; box-sizing:border-box;}
.row:before, .row:after {clear:both; content:""; display:block;}

/* picker */
.pika-single {z-index:9999; display:block; position:relative; color:#333; background:#fff; border:1px solid #ccc; border-bottom-color:#bbb; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;}
.pika-single:before, .pika-single:after {content:" "; display:table;}
.pika-single:after {clear:both}
.pika-single {*zoom:1}
.pika-single.is-hidden {display:none;}
.pika-single.is-bound {position:absolute; box-shadow:0 5px 15px -5px rgba(0,0,0,.5);}
.pika-lendar {float:left; width:240px; margin:8px;}
.pika-title {position:relative; text-align:center;}
.pika-label {display:inline-block; *display:inline; position:relative; z-index:9999; overflow:hidden; margin:0; padding:5px 3px; font-size:14px; line-height:20px; font-weight:bold; background-color:#fff;}
.pika-title select {cursor:pointer; position:absolute; z-index:9998; margin:0; left:0; top:5px; filter:alpha(opacity=0); opacity:0;}
.pika-prev, .pika-next {display:block; cursor:pointer; position:relative; outline:none; border:0; padding:0; width:20px; height:30px; text-indent:20px; white-space:nowrap; overflow:hidden; background-color:transparent; background-position:center center; background-repeat:no-repeat; background-size:75% 75%; opacity:.5; *position:absolute; *top:0;}
.pika-prev:hover, .pika-next:hover {opacity:1;}
.pika-prev, .is-rtl .pika-next {float:left; background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg=='); *left:0;}
.pika-next, .is-rtl .pika-prev {float:right; background-image:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII='); *right:0;}
.pika-prev.is-disabled, .pika-next.is-disabled {cursor:default; opacity:.2;}
.pika-select {display:inline-block; *display:inline;}
.pika-table {width:100%; border-collapse:collapse; border-spacing:0; border:0;}
.pika-table th, .pika-table td {width:14.285714285714286%; padding:0;}
.pika-table th {color:#999; font-size:12px; line-height:25px; font-weight:bold; text-align:center;}
.pika-button {cursor:pointer; display:block; box-sizing:border-box; -moz-box-sizing:border-box; outline:none; border:0; margin:0; width:100%; padding:5px; color:#666; font-size:12px; line-height:15px; text-align:right; background:#f5f5f5;}
.pika-week {font-size:11px; color:#999;}
.is-today .pika-button {color:#33aaff; font-weight:bold;}
.is-selected .pika-button {color:#fff; font-weight:bold; background:#33aaff; box-shadow:inset 0 1px 3px #178fe5; border-radius:3px;}
.is-inrange .pika-button {background:#D5E9F7;}
.is-startrange .pika-button {color:#fff; background:#6CB31D; box-shadow:none; border-radius:3px;}
.is-endrange .pika-button {color:#fff; background:#33aaff; box-shadow:none; border-radius:3px;}
.is-disabled .pika-button, .is-outside-current-month .pika-button {pointer-events:none; cursor:default; color:#999; opacity:.3;}
.pika-button:hover {color:#fff; background:#ff8000; box-shadow:none; border-radius:3px;}
.pika-table abbr {border-bottom:none; cursor:help;}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {min-height:1px; padding-top:5px; padding-right:5px; padding-left:0px; box-sizing:border-box;}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11 {float:left;}
.col-xs-1 {width:8.333333333333332%;}
.col-xs-2 {width:16.666666666666664%;}
.col-xs-3 {width:25%;}
.col-xs-4 {width:33.33333333333333%;}
.col-xs-5 {width:41.66666666666667%;}
.col-xs-6 {width:50%;}
.col-xs-7 {width:58.333333333333336%;}
.col-xs-8 {width:66.66666666666666%;}
.col-xs-9 {width:75%;}
.col-xs-10 {width:83.33333333333334%;}
.col-xs-11 {width:91.66666666666666%;}
.col-xs-12 {width:100%;}

@media (min-width:768px) {
	.container {width:750px;}
	.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {padding-top:15px; padding-right:15px;}
	.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11 {float:left;}
	.col-sm-1 {width:8.333333333333332%;}
	.col-sm-2 {width:16.666666666666664%;}
	.col-sm-3 {width:25%;}
	.col-sm-4 {width:33.33333333333333%;}
	.col-sm-5 {width:41.66666666666667%;}
	.col-sm-6 {width:50%;}
	.col-sm-7 {width:58.333333333333336%;}
	.col-sm-8 {width:66.66666666666666%;}
	.col-sm-9 {width:75%;}
	.col-sm-10 {width:83.33333333333334%;}
	.col-sm-11 {width:91.66666666666666%;}
	.col-sm-12 {width:100%;}
}

@media (min-width:992px) {
	.container {width:970px;}
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11 {float:left;}
	.col-md-1 {width:8.333333333333332%;}
	.col-md-2 {width:16.666666666666664%;}
	.col-md-3 {width:25%;}
	.col-md-4 {width:33.33333333333333%;}
	.col-md-5 {width:41.66666666666667%;}
	.col-md-6 {width:50%;}
	.col-md-7 {width:58.333333333333336%;}
	.col-md-8 {width:66.66666666666666%;}
	.col-md-9 {width:75%;}
	.col-md-10 {width:83.33333333333334%;}
	.col-md-11 {width:91.66666666666666%;}
	.col-md-12 {width:100%;}
}

@media (min-width:1200px) {
	.container {width:1170px;}
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11 {float:left;}
	.col-lg-1 {width:8.333333333333332%;}
	.col-lg-2 {width:16.666666666666664%;}
	.col-lg-3 {width:25%;}
	.col-lg-4 {width:33.33333333333333%;}
	.col-lg-5 {width:41.66666666666667%;}
	.col-lg-6 {width:50%;}
	.col-lg-7 {width:58.333333333333336%;}
	.col-lg-8 {width:66.66666666666666%;}
	.col-lg-9 {width:75%;}
	.col-lg-10 {width:83.33333333333334%;}
	.col-lg-11 {width:91.66666666666666%;}
	.col-lg-12 {width:100%;}
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {display:none !important;}
.visible-xs-block, .visible-xs-inline, .visible-xs-inline-block, .visible-sm-block, .visible-sm-inline, .visible-sm-inline-block, .visible-md-block, .visible-md-inline, .visible-md-inline-block, .visible-lg-block, .visible-lg-inline, .visible-lg-inline-block {display:none !important;}
@media (max-width:767px) {
	.row {margin-right:-5px; margin-left:0px; margin-top:-5px; min-height:5px;}
	.visible-xs {display:block !important;}
	table.visible-xs {display:table;}
	tr.visible-xs {display:table-row !important;}
	th.visible-xs, td.visible-xs {display:table-cell !important;}
	.visible-xs-block {display:block !important;}
	.visible-xs-inline {display:inline !important;}
	.visible-xs-inline-block {display:inline-block !important;}
	
	.inputInline .helpBlock {display:block; margin-top:5px; line-height:1.6; height:auto;}
}
@media (min-width:768px) and (max-width:991px) {
	.visible-sm {display:block !important;}
	table.visible-sm {display:table;}
	tr.visible-sm {display:table-row !important;}
	th.visible-sm, td.visible-sm {display:table-cell !important;}
	.visible-sm-block {display:block !important;}
	.visible-sm-inline {display:inline !important;}
	.visible-sm-inline-block {display:inline-block !important;}
}
@media (min-width:992px) and (max-width:1199px) {
	.visible-md {display:block !important;}
	table.visible-md {display:table;}
	tr.visible-md {display:table-row !important;}
	th.visible-md, td.visible-md {display:table-cell !important;}
	.visible-md-block {display:block !important;}
	.visible-md-inline {display:inline !important;}
	.visible-md-inline-block {display:inline-block !important;}
}
@media (min-width:1200px) {
	.visible-lg {display:block !important;}
	table.visible-lg {display:table;}
	tr.visible-lg {display:table-row !important;}
	th.visible-lg, td.visible-lg {display:table-cell !important;}
	.visible-lg-block {display:block !important;}
	.visible-lg-inline {display:inline !important;}
	.visible-lg-inline-block {display:inline-block !important;}
}
@media (max-width:767px) {
	.hidden-xs {display:none !important;}
}
@media (min-width:768px) and (max-width:991px) {
	.hidden-sm {display:none !important;}
}
@media (min-width:992px) and (max-width:1199px) {
	.hidden-md {display:none !important;}
}
@media (min-width:1200px) {
	.hidden-lg {display:none !important;}
}
.visible-print, .visible-print-block, .visible-print-inline, .visible-print-inline-block {display:none !important;}
@media print {
	.visible-print {display:block !important;}
	table.visible-print {display:table;}
	tr.visible-print {display:table-row !important;}
	th.visible-print, td.visible-print {display:table-cell !important;}
	.visible-print-block {display:block !important;}
	.visible-print-inline {display:inline !important;}
	.visible-print-inline-block {display:inline-block !important;}
	.hidden-print {display:none !important;}
}