.x-btn-danger {background-color:#F44336; border-color:#E53935;}
.x-btn-danger.x-btn-over {background-color:#E53935; border-color:#E53935;}
.x-btn-danger.x-btn-focus {background-color:#F44336;}

.x-grid-cell-inner > i.icon {width:20px; height:20px; display:inline-block; line-height:20px; background-repeat:no-repeat; background-size:contain; background-position:50% 50%; margin-right:5px; vertical-align:middle;}
.x-grid-cell-inner > i.icon.fa, .x-grid-cell-inner > i.icon.xi, .x-grid-cell-inner > i.icon.xi2 {width:auto;}

.x-grid-button {height:100% !important; vertical-align:middle !important;}
.x-grid-button .x-grid-cell-inner {padding:2px !important;}
.x-grid-button .x-grid-cell-inner:before {border:0px !important;}
.x-grid-button .x-grid-cell-inner button {background:#6aa0dc; height:28px; color:#fff; cursor:pointer; width:100%; border:1px solid rgba(0,0,0,0.1);}
.x-grid-button .x-grid-cell-inner button:hover {background:#6193ca;}
.x-grid-button .x-grid-cell-inner button[disabled] {background:#90b3da !important; cursor:not-allowed;}
.x-grid-button .x-grid-cell-inner button.orange {background:#eaad52;}
.x-grid-button .x-grid-cell-inner button.orange:hover {background:#e69729;}
.x-grid-button .x-grid-cell-inner button.orange[disabled] {background:#f0c586 !important;}
.x-grid-button .x-grid-cell-inner button.red {background:#d35051}
.x-grid-button .x-grid-cell-inner button.red:hover {background:#c32a31;}
.x-grid-button .x-grid-cell-inner button.red[disabled] {background:#e08485 !important;}

.x-fieldset.x-form-wysiwyg {overflow:visible !important;}
.x-fieldset.x-form-wysiwyg .x-fieldset-body {overflow:visible !important;}

.x-field.x-form-wysiwyg .x-form-text-wrap {overflow:visible !important;}

.x-form-no-padding .x-form-text-default {padding-right:0px;}

.x-form-item-label-inner i.required {display:inline-block; line-height:1; font-size:14px; color:red; font-style:normal; vertical-align:middle; margin-top:-8px; margin-right:3px;}
.x-form-display-field-default {margin-top:0px; padding-top:8px;}
.x-form-checkboxgroup-body {padding:0px !important;}

.x-legend-panel .x-panel-body-default {border-color:#fff !important;}
.x-small-header .x-panel-header {padding:6px 8px !important;}
.x-small-header .x-panel-header .x-panel-header-title-default {font-size:13px !important;}
.x-grid-cell-button .x-grid-cell-inner {padding:0px !important;}
.x-column-header-align-center {text-align:left !important;}
.x-column-header-align-right {text-align:left !important;}
.x-column-header-align-right .x-column-header-text {margin-right:0px !important;}
tr.x-grid-row-summary:first-child {display:none;}
.x-grid-row-summary .x-grid-cell {background-color:#e9e9e9 !important; color:#222; font-weight:700;}
.x-toolbar-default {background:#fcfcfc;}
.x-column-header {background:#f4f4f4;}
.x-column-header-checkbox {border-color:#d1d1d0;}
.x-grid-cell-inner a {color:#5070be; text-decoration:none;}
.x-grid-cell-row-checker {vertical-align:top !important;}
.x-grid-cell-inner i.xi, .x-grid-cell-inner i.xi2, .x-grid-cell-inner i.fa, .x-grid-cell-inner i.mi {margin:-2px 0px; height:20px; line-height:19px; vertical-align:middle;}

.x-grid-group-hd {border-bottom:2px solid #222; padding-top:20px;}
.x-grid-item:first-child .x-grid-group-hd {padding-top:8px;}

.x-grid-group-title {font-size:13px; font-weight:bold; color:#000;}
.x-grid-group-title > i {margin-right:8px;}

.x-grid-dark .x-column-header {background-color:#48535f; border-color:#2d3844; color:#adb3b8;}
.x-grid-dark .x-column-header-over {background:#2d3844;}
.x-grid-dark .x-grid-header-ct {border:1px solid #2d3844;}
.x-grid-dark .x-grid-body {border-top:1px solid #adb3b8;}
.x-grid-dark .x-column-header.x-column-header-focus .x-column-header-inner:after {border:0px;}

.x-grid-cell-button .x-grid-cell-inner button {border:1px solid transparent; border-bottom:1px solid transparent; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; width:calc(100% - 2px); height:30px; margin:1px 1px; box-sizing:border-box; font-weight:normal; text-align:center; display:block; font-size:12px; cursor:pointer; box-shadow:rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset; border-color:rgba(0, 0, 0, 0.1);}
.x-grid-cell-button .x-grid-cell-inner button[disabled] {opacity:0.4; cursor:not-allowed; background-image:none !important;}
.grid .bodyPanel ul.row li:last-child.button button {border-right:0px;}
.x-grid-cell-button .x-grid-cell-inner button.button {background-color:rgb(232, 232, 232); background-image:linear-gradient(rgba(255, 255, 255, 0.901961) 10%, rgba(255, 255, 255, 0.298039) 100%); text-shadow:rgba(255, 255, 255, 0.4) 0px -1px 0px; color:rgb(102, 102, 102);}
.x-grid-cell-button .x-grid-cell-inner button.button:hover {background-color:rgb(215, 215, 215);}
.x-grid-cell-button .x-grid-cell-inner button.button[disabled] {background:rgb(232, 232, 232) !important;}
.x-grid-cell-button .x-grid-cell-inner button.primary {background-color:rgb(36, 137, 204); background-image:linear-gradient(rgba(255, 255, 255, 0.298039) 1%, rgba(255, 255, 255, 0.14902) 100%); text-shadow:rgba(0, 0, 0, 0.4) 0px -1px 0px; color:#fff;}
.x-grid-cell-button .x-grid-cell-inner button.primary:hover {background-color:rgb(32, 119, 178);}
.x-grid-cell-button .x-grid-cell-inner button.primary[disabled] {background:rgb(36, 137, 204) !important;}
.x-grid-cell-button .x-grid-cell-inner button.danger {background-color:rgb(219, 63, 38); background-image:linear-gradient(rgba(255, 255, 255, 0.298039) 1%, rgba(255, 255, 255, 0.14902) 100%); text-shadow:rgba(0, 0, 0, 0.4) 0px -1px 0px; color:#fff;}
.x-grid-cell-button .x-grid-cell-inner button.danger:hover {background-color:rgb(193, 55, 32);}
.x-grid-cell-button .x-grid-cell-inner button.danger[disabled] {background-color:rgb(219, 63, 38) !important;}
.x-grid-cell-right {text-align:right !important;}

.x-main-panel .x-panel-header-default {background:#48535f; border:1px solid #2d3844;}
.x-main-panel .x-panel-header-title-default {color:#adb3b8;}
.x-menu-title {max-width:250px; height:36px; line-height:36px; background:#48535f; color:#fff; font-size:12px; padding:0px 10px; font-weight:bold; cursor:default; min-width:150px; margin:-1px; border-bottom:1px solid #d0d0d0; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;}
.x-form-help {margin-top:5px; line-height:1.6; font-size:11px; color:#666;}
.x-box-default {padding:8px; font-size:12px; line-height:1.6; background:#ffffef; color:#666;}

.x-tool-maximize {font-size:14px; line-height:16px;}
.x-tool-maximize:before {content:"\f2d0";}
.x-tool-restore {font-size:14px; line-height:16px;}
.x-tool-restore:before {content:"\f2d2";}


.x-fieldset {overflow:visible;}

/*
.x-form-wysiwyg {height:345px !important; table-layout:fixed;}
.x-form-wysiwyg > label {height:345px !important; overflow:hidden;}
.x-form-wysiwyg > div {height:345px !important; overflow:hidden;}
.x-form-wysiwyg > div > div {height:345px !important; overflow:hidden;}
.x-form-wysiwyg > div > div > div {height:345px !important; overflow:hidden;}
.x-form-wysiwyg > div > div > div > div {height:345px !important; overflow:hidden;}
*/
/**
 * For Chrome 56
 */
.x-webkit .x-form-text {height:100% !important;}
.x-webkit :not(.x-form-textarea-body) > .x-form-trigger-wrap {height:initial;}